{% extends "Base/base.html" %}
{% block Titulo %}
Estados financieros
{% endblock Titulo %}
{% block JavaScript %}
<script type="text/javascript">
var bg = document.getElementById('bg');
bg.style.display = 'none';
var er = document.getElementById('er');
er.style.display = 'none';
var ec = document.getElementById('ec');
ec.style.display = 'none';
var flujoEfectivo = document.getElementById('flujoEfectivo');
flujoEfectivo.style.display = 'none';

function ocultar() {
    var bg = document.getElementById('bg');
    bg.style.display = 'none';
    var er = document.getElementById('er');
    er.style.display = 'none';
    var ec = document.getElementById('ec');
    ec.style.display = 'none';
    var ec = document.getElementById('bc');
    ec.style.display = 'none';
    var flujoEfectivo = document.getElementById('flujoEfectivo');
    flujoEfectivo.style.display = 'none';
}

function mostrar(id) {
    ocultar();
    var ec = document.getElementById(id);
    ec.style.display = 'block';
}
</script>
{% endblock JavaScript %}
{% block Contenido %}
<section class="container">
    <div class="row justify-content-center">
        <button class="btn btn-info mr-2" id="btn1" onclick="mostrar('bc')">Balance de comprobacion</button>
        <button class="btn btn-info mr-2" id="btn2" onclick="mostrar('bg')">Balance de General</button>
        <button class="btn btn-info mr-2" id="btn3" onclick="mostrar('er')">Estado de resultado</button>
        <button class="btn btn-info mr-2" id="btn4" onclick="mostrar('ec')">Estado de capital</button>
        <button class="btn btn-info mr-2" id="btn5" onclick="mostrar('flujoEfectivo')">Flujo de Efectivo</button>
    </div><br><br>
    <div class="tabla-0 row" style="width:90%;" id="bc">
        <div class="col-sm-12">
            <table class="tabla-1" style="width:75%;">
                <thead class="titulo-0 text-center"><h1 class="col-sm-9 text-center">Balance de comprobacion</h1>
                    <p class="col-sm-9 text-center">del {{periodo.fecha_inicio}} al {{periodo.fecha_final}}</p>
                </thead>
                <tr id="BC">
                    <th id="BC">codigo</th>
                    <th id="BC">Nombre de las cuentas</th>
                    <th id="BC">Debe</th>
                    <th id="BC">Haber</th>
                </tr>
                {% for libro in periodo.libromayor_set.all %}
                    {% if libro.cuenta == "Utilidad Neta" %}
                    {% else %}
                    <tr>
                        <td id="BC"> {{libro.codCuenta}} </td>
                        <td id="BC"> {{libro.cuenta}} </td>
                        {% if libro.saldoDeudor > libro.saldoAcreedor %}
                        <td id="BC"> {{libro.saldo}} </td>
                        <td id="BC"></td>
                        {% else %}
                        <td id="BC"></td>
                        <td id="BC"> {{libro.saldo}} </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="2">Totales</td>
                    <td> {{debe}} </td>
                    <td> {{haber}} </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tabla-0 row" style="width:90%;" id="er">
        <div class="col-sm-12">
            <table class="tabla-1" style="width:75%;">
                <thead class="titulo-0"><h1 class="col-sm-9 text-center">Estado de resultados</h1>
                    <p class="col-sm-9 text-center">del {{periodo.fecha_inicio}} al {{periodo.fecha_final}} </p>
                </thead>
                <tr id="BC">
                    <th id="BC">codigo</th>
                    <th id="BC">Nombre de las cuentas</th>
                    <th id="BC">Debe</th>
                    <th id="BC">Haber</th>
                </tr>
                {% for libro in libR %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Utilidad</td>
                    <td> {{util}} </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tabla-0 row" style="width:90%;" id="ec">
        <div class="col-sm-12">
            <table class="tabla-1" style="width:75%;">
                <thead class="titulo-0"><h1 class="col-sm-9 text-center">Estado de capital</h1>
                    <p class="col-sm-9 text-center">del {{periodo.fecha_inicio}} al {{periodo.fecha_final}}</p>
                </thead>
                <tr>
                    <th>codigo</th>
                    <th>Nombre de las cuentas</th>
                    <th>Saldo</th>
                </tr>
                {% for libro in capitalS %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    <td id="BC"> {{libro.saldo}} </td>
                </tr>
                {% endfor %}
                <tr>
                    <td id="BC"> {{utilidad.codCuenta}} </td>
                    <td id="BC"> {{utilidad.cuenta}} </td>
                    <td id="BC"> {{utilidad.saldo}} </td>
                </tr>
                {% for libro in capitalI %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    <td id="BC"> {{libro.saldo}} </td>
                </tr>
                {% endfor %}
                {% for libro in capitalD %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    <td id="BC"> {{libro.saldo}} </td>
                </tr>
                {% endfor %}
                {% for libro in capital %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    <td id="BC"> {{libro.saldo}} </td>
                </tr>
                {% endfor %}
                {% if util > 0 %}
                <tr>
                    <td id="BC"> UT001 </td>
                    <td id="BC"> Utilidad </td>
                    <td id="BC"> {{util}} </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">CapitalSocial</td>
                    <td> {{totalCapi}} </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="tabla-0 row" style="width:90%;" id="bg">
        <div class="col-sm-12">
            <table class="tabla-1" style="width:75%;">
                <thead class="titulo-0"><h1 class="col-sm-9 text-center">Balance general</h1>
                    <p class="col-sm-9 text-center">del {{periodo.fecha_inicio}} al {{periodo.fecha_final}}</p>
                </thead>
                <tr id="BC">
                    <th id="BC">codigo</th>
                    <th id="BC">Nombre de las cuentas</th>
                    <th id="BC">Debe</th>
                    <th id="BC">Haber</th>
                </tr>
                {% for libro in activoC %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}

                {% for libro in activoF %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                {% for libro in activoD %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for libro in activoK %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                {% for libro in pasivoC %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                {% for libro in pasivoF %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                
                {% endfor %}
                {% for libro in pasivoD %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    {% if libro.saldoDeudor > libro.saldoAcreedor %}
                    <td id="BC"> {{libro.saldo}} </td>
                    <td id="BC"></td>
                    {% else %}
                    <td id="BC"></td>
                    <td id="BC"> {{libro.saldo}} </td>
                    {% endif %}
                </tr>
                {% endfor %}
                

                {% for libro in capitalS %}
                <tr>
                    <td id="BC"> {{libro.codCuenta}} </td>
                    <td id="BC"> {{libro.cuenta}} </td>
                    <td id="BC"></td>
                    <td id="BC"> {{totalCapi}} </td>
                </tr>
                {% endfor %}
                <tr>
                    <td id="BC"> {{utilidad.codCuenta}} </td>
                    <td id="BC"> {{utilidad.cuenta}} </td>
                    <td id="BC"></td>
                    <td id="BC"> {{utilidad.saldo}} </td>
                </tr>
                <tr>
                    <td colspan="3">Capital</td>
                    <td> {{capitalTotal}} </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container" id="flujoEfectivo">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Flujo de Efectivo</h1>
            </div>
        </div>
        {% if periodo_id > 1 %}
        <div class="row">
            <div class="col">
                <h2 class="text-center"> Metodo Indirecto</h2>
            </div>
        </div>       
        <div class="row">
            <div class="col">
                <h4 class="text-center">Tabla de Variaciones de las cuentas</h4>
                <table class="table table-hover">
                    <thead class="bg-info">
                        <th>Cuenta</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Tipo de Operación</th>                      
                    </thead>
                    <tbody>
                    	<tr>
                    		<td>utilidad</td>
                    		<td>{{util}}</td>
                    		<td></td>
                    	</tr>
                        {% for c in variacionActivos %}
                        <tr>
                        	<td>{{c.codigo}}</td>
                            {% if c.saldoActual >= 0 %}                            
                            <td></td>
                            <td>{{c.saldoActual}}</td>
                            {% else %}
							<td>{{c.saldoActual}}</td>
                            <td></td>
                            {% endif %}
                            <td>{{c.tipo}}</td>
                        </tr>
                        {% endfor %}
                        {% for c in variacionPasivos %}
                        <tr>
                        	<td>{{c.codigo}}</td>
                            {% if c.saldoActual >= 0 %}                            
                            <td>{{c.saldoActual}}</td>
                            <td></td>
                            {% else %}
                            <td></td>
                            <td>{{c.saldoActual}}</td>							
                            {% endif %}
                            <td>{{c.tipo}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
        {% else %}
        <div class="alert alert-info text-center">Este es el primer periodo así que no hay otro periodo para comparar</div>
        {% endif %}
    </div>
    <a href="{% url 'contable:reg_transaccion' periodo.id %}" class="btn btn-primary">Registrar transaccion</a>
</section>
{% endblock Contenido %}