{% extends "Base/base.html" %}

{% block Titulo %}
Periodo Contable
{% endblock Titulo %}

{% block Contenido %}


<section class="container" style="width:80%">
	<h1 class="text-center">Periodos Contables</h1>
    <p class="text-center">Aquí puede ver todos los periodos contables vigentes</p>	

	{% for p in periodo %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'contable:estados' p.id %}" class="estilo">Periodo contable {{p.id}} del {{p.fecha_inicio}} al {{p.fecha_final}} </a>
            </div>
            {% if p.activo %}
                <div class="col-sm-3">
                    <a href="{% url 'contable:estados' p.id %}"><i class="fas fa-eye"></i> Ver</a>
                    <a href="{% url 'contable:reg_transaccion' p.id %}"><i class="fas fa-address-card"></i>transaccion</a>
                </div>
                <div class="col-sm-3">
                    <div class="alert-success">periodo activo</div> 
                </div>
            {% else %}
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                    <div class="alert-danger">periodo cerrado</div> 
                </div>
            {% endif %}
        </div>
	{% endfor %}
	<form method="POST">
		{% csrf_token %}
		<input type="hidden" name="action" id="action" value="cerrar">
		<p><input type="submit" name="cerrar" id="cerrar" value="cerrar periodo" class="btn btn-danger"></p>
	</form>
    <p><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalNewPeriodo"><i class="fas fa-plus"></i>iniciar nuevo periodo</a></p>

    <div class="modal fade" id="modalNewPeriodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">nuevo periodo contable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                        <input type="hidden" name="action" id="action" value="nuevo">
                        <label>fecha inicio:</label>
                        <input type="date" name="fecha_inicio" id="fecha_inicio" required="" class="form-control"><br>
                        <label>fecha finalizacion:</label>
                        <input type="date" name="fecha_final" id="fecha_final" style="height: 30px;" required="" class="form-control">
                        <p> <label>Nombre periodo</label> <input type="text" name="usuario" id="usuario" style="height: 30px;" class="form-control"> </p>
                        <p> <input type="submit" name="enviar" value="iniciar periodo" class="btn btn-primary dropdown-toggle"> </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-fill btn-danger btn-wd btn-sm" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock Contenido %}
